* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  background-color: #2a2a2a;
  border-radius: 10px;
  border: 1px solid #3a3a3a;
  padding: 15px;
  box-shadow: 0 0 20px #00b894;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3a3a3a;
  color: #00b894;
}

button {
  margin: 10px;
  background: none;
  background-color: #00b894;
  border: none;
  box-shadow: 0 0 10px #00b894;
  padding: 8px 8px;
  border-radius: 5px;
  border: 1px solid #00b894;
  cursor: pointer;
}
input:focus {
  outline: none;
}

h2,
p {
  color: #00b894;
  margin-top: 15px;
  text-align: center;
  border-radius: 5px;
}

p {
  font-size: 1.3rem;
}

.error h2 {
  color: red;
}

.hidden {
  display: none;
}
